:host {
  display: block;
  border: 2px solid var(--color-dark, black);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
  position: relative;
}

:host(.error) {
  border-color: var(--color-error, red);
}

:host(.loading) {
  opacity: 0.75;
}

form input {
  margin-bottom: 0.5rem;
  font: inherit;
  color: var(--color-primary-text, black);
  padding: 0.1rem 0.25rem;
}

form input:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: var(--color-primary, grey);
  cursor: pointer;
}

form button:hover,
form button:active {
  border-color: var(--color-highlight, lightgrey);
  background-color: var(--color-highlight, lightgrey);
}

form button[disabled] {
  cursor: not-allowed;
}

p.error {
  color: var(--color-error, red);
}
