:host {
  display: block;
  border: 2px solid var(--color-dark, black);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
  position: relative;
}

:host(.loading) {
  opacity: 0.5;
}

form input {
  margin-bottom: 0.5rem;
  font: inherit;
  color: var(--color-dark, black);
  padding: 0.1rem 0.25rem;
}

form input:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: rgb(212, 209, 209);
  cursor: pointer;
}

form button:hover,
form button:active {
  border-color: var(--color-highlight, lightgrey);
  background-color: var(--color-highlight, lightgrey);
}

form button[disabled] {
  cursor: not-allowed;
}

p.error {
  color: var(--color-error, red);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.2rem 0;
  padding: 0.2rem;
  border: 1px solid;
  cursor: pointer;
}

li:hover,
li:active {
  background-color: var(--color-dark, black);
  color: var(--color-primary, white);
}
